/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update the core
 * Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block .material-icons {
    font-size: inherit;
}

.button-collapse.show-on-large.waves-effect.wave-light.btn {
    /**
   * The alpha value allows the text and background color of the button to still
   * show through.
   */
    background-color: #feb41f;
}

.form {
    background-color: #feb41f;
}

.titlecategorie {
    text-align: center;
}

.playlist {
    align-items: center;
}

footer {
    bottom: 0;
    width: 100%;
}

.video {
    display: flex;
    margin: 1% 1% 6% 1%;
    align-items: center;
}

img.social {
    transition: transform .8s ease-in-out;
}

img.social:hover {
    transform: scale(1.25);
}

#logoplay {
    transition: transform .8s ease-in-out;
}

#logoplay:hover {
    transform: scale(1.25);
}

#logo-container {
    display: inline-block;
    float: none;
    vertical-align: bottom;
    font-size: 1.5em;
}

.wcs {
    width: 3%;
}

.recherche {
    position: absolute;
    left: 50%;
    color: white;
    text-align: center;
    transform: translate(-50%, -50%);
}

.rating a {
    color: #aaa;
    text-decoration: none;
    font-size: 1em;
    transition: color .4s;
}

.rating a:focus, .rating a:focus~a, .rating a:hover, .rating a:hover~a {
    color: orange;
    cursor: pointer;
}

.rating {
    padding-left: 20%;
}

.footer {
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
}

.footer p {
    color: white;
}

#mainvid {
    display: flex;
    justify-content: center;
}
