/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block .material-icons {
    font-size: inherit;
}


.button-collapse.show-on-large.waves-effect.wave-light.btn {
    /* The alpha value allows the text and background color
    of the button to still show through. */
     background-color: #feb41f;
   }

.form
{
       background-color: #feb41f;
}

.titlecategorie{
  text-align: center;
}

.playlist
{
  align: center;

}


footer {
    bottom: 0;
    width: 100%;
}

.video {
    margin: 1% 1% 6% 1%;
    display: flex;
    align-items: center;
}

.about {
    width: 30%;
    left: 20%;
    top: 10%;
}

img.social{
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
img.social:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

img#logoplay{
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
img#logoplay:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

#logo-container {
    display: inline-block;
    float: none;
    font-size: 1.5em;
    vertical-align: bottom;
}

.wcs
{
    width: 3%;
}

.recherche {

  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.rating a {
   color: #aaa;
   text-decoration: none;
   font-size: 1em;
   transition: color .4s;

}

.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
   color: orange;
   cursor: pointer;
}

.rating {

    padding-left: 20%;
  }

.footer {
  display: inline-block;
  float: none;
  text-align: center;
  vertical-align: bottom;

}

.footer p {
  color: white;
}
